examples/example.json
[
  {
    "id": "b3f9b448c0b6f967",
    "type": "fordconnect-refresh-vehicle-status",
    "z": "896b927d96394e99",
    "name": "",
    "vehicleId": "edited",
    "pollStatus": true,
    "pollInterval": "10",
    "maxRetries": "3",
    "x": 340,
    "y": 300,
    "wires": [["eb99a8add483911a"], ["20492b93af9e85f2"], []]
  },
  {
    "id": "20492b93af9e85f2",
    "type": "fordconnect-get-tokens",
    "z": "896b927d96394e99",
    "x": 310,
    "y": 360,
    "wires": [["bbf4497297414038"]]
  },
  {
    "id": "bbf4497297414038",
    "type": "fordconnect-save-tokens",
    "z": "896b927d96394e99",
    "refreshToken": "",
    "accessToken": "",
    "x": 310,
    "y": 420,
    "wires": [["b3f9b448c0b6f967"]]
  },
  {
    "id": "eb99a8add483911a",
    "type": "fordconnect-get-vehicle-info",
    "z": "896b927d96394e99",
    "name": "",
    "vehicleId": "edited",
    "x": 580,
    "y": 300,
    "wires": [["e85a550afcd5e645"], [], ["8347b04d01d5c973"]]
  },
  {
    "id": "e85a550afcd5e645",
    "type": "debug",
    "z": "896b927d96394e99",
    "name": "vehicle info",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 770,
    "y": 280,
    "wires": []
  },
  {
    "id": "9b7a9c9d380d8c39",
    "type": "inject",
    "z": "896b927d96394e99",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 520,
    "wires": [["3b60194a74f19255"]]
  },
  {
    "id": "523808feb119d73c",
    "type": "debug",
    "z": "896b927d96394e99",
    "name": "location info",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 770,
    "y": 500,
    "wires": []
  },
  {
    "id": "7bd22b2788fc6529",
    "type": "fordconnect-get-tokens",
    "z": "896b927d96394e99",
    "x": 310,
    "y": 580,
    "wires": [["d4a2350c4d05fc8e"]]
  },
  {
    "id": "d4a2350c4d05fc8e",
    "type": "fordconnect-save-tokens",
    "z": "896b927d96394e99",
    "refreshToken": "",
    "accessToken": "",
    "x": 310,
    "y": 640,
    "wires": [["3b60194a74f19255"]]
  },
  {
    "id": "3b60194a74f19255",
    "type": "fordconnect-refresh-vehicle-location",
    "z": "896b927d96394e99",
    "name": "Refresh location",
    "vehicleId": "edited",
    "x": 320,
    "y": 520,
    "wires": [["436291217fec2705"], ["7bd22b2788fc6529"], []]
  },
  {
    "id": "436291217fec2705",
    "type": "fordconnect-get-vehicle-location",
    "z": "896b927d96394e99",
    "name": "",
    "vehicleId": "edited",
    "x": 570,
    "y": 520,
    "wires": [["523808feb119d73c"], [], ["5cb4957ef98a145c"]]
  },
  {
    "id": "5cb4957ef98a145c",
    "type": "debug",
    "z": "896b927d96394e99",
    "name": "get vehicle location error",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 810,
    "y": 560,
    "wires": []
  },
  {
    "id": "5268eecdbaea5358",
    "type": "inject",
    "z": "896b927d96394e99",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 300,
    "wires": [["b3f9b448c0b6f967"]]
  },
  {
    "id": "8347b04d01d5c973",
    "type": "debug",
    "z": "896b927d96394e99",
    "name": "get vehicle info error",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 800,
    "y": 340,
    "wires": []
  },
  {
    "id": "4dde1f5063908ad7",
    "type": "fordconnect-save-tokens",
    "z": "896b927d96394e99",
    "refreshToken": "",
    "accessToken": "",
    "x": 530,
    "y": 100,
    "wires": [["e1655f8dddc8982b"]]
  },
  {
    "id": "e1655f8dddc8982b",
    "type": "debug",
    "z": "896b927d96394e99",
    "name": "fordpass tokens",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 780,
    "y": 100,
    "wires": []
  },
  {
    "id": "79c60d57b32548bf",
    "type": "fordconnect-generate-tokens",
    "z": "896b927d96394e99",
    "name": "",
    "clientId": "30990062-9618-40e1-a27b-7c6bcb23658a",
    "clientSecret": "edited",
    "authCode": "eyJraWQiOiI2cjIzQ2FTeTF4cFdUUFBxYVRtX01Vc2RKZGo1RWlDTnRtME4yVTAxNTdFIiwidmVyIjoiMS4wIiwiemlwIjoiRGVmbGF0ZSIsInNlciI6IjEuMCJ9.VO4rM6Ueyss9K1sdeQV5639M8IbAge_l9zmNaK9-ZJeaxna5MF6EIF_RHxTv4EJF0YEEz9sVA7zB0A5k4s8n4R55Zb_jHKus2kfLctbOHGn-vX25LW72ZChakkCYuVOIViDJE9zaJ2fIxIDcNsRciDKRevvZ1aG511PclMC6LPsGHcwnjRc3uCLtQEe6t-dmPrZg0meEc7KD82Go6GMBXx9kWoJXnSnKtma61WeqmNpepTxY_bLsITaW--DdPzQ4X6PRDSH95BXhnpnMIpZbRNbNQAfBpcZKPtyZkr_7HUzdFVUMK9Dm-kd41DD-_cch3AEFOkMxS3XxUjifvSzPNQ.M9QBsq7kwIZenOKJ.5ytjZWmlgUXOeYBum8Df5a8iiArWcuW_MgB0LWjE1HVVGQXUa3gbxVukeJ2ejAyRqavJIm5ZN4cxy6aJebu7fA_cJrFhxol_MleK3i8O8fKBvEfU-btDSyg0fi5WAmy9QqjEZ5vLlQ0F3IoRsbxOV_6UxZgEwDh8ZOQRdlCGs6vuiKDL0mdAeHwkrXaolGG0c2oAkgHOlZBXw_jeZnmlM9iG0ta4aEQU5hoR849f8UQNNiFGI-6RNTkIQgrePWDFOeR7F5YWRLXLb245zv5ogDvT002KxfTcV9BScqak00_nc_wyLvqzZ2pKK2bdosM4AsIhUGcHFlBCQtDmOs_2Jy-CVcDfkAFHkwLJ8ZApCszkzvuW_qAtFFUE0Whq1yR8DRj2F_F7yeeAzcFRmWOREWowpUZUArG1_JzRhdEGv9eDBb27yPorkhJH_jwZLrlV2sgyBbLv0fR9Cla2V67PccpcNPTwWmAhZtJwiRJCFHTiL7HQtb0luo-tKKInVn4WvrtQqyFBXzSwkZxj46TZh0CEHDkD9RJtF6mMBSCcdwr7D8sjPsSJQvfcN56IFY9yPP1YRQRjLH_ZzFvql__ETk94teGWB6qarqG_P4aEfFE9z_dwnTyxZkx0lFNv_-rNWoxLYdpaThrQ39ks8cVHnoxI1Wbr2X6X-EEhhQ4uFVu3BfUYgJfavBPNv6rsmPA87VxjvmXUzoa6lyGXxF6jUuqKNPdEzD98P47X6YzjnNTklyGn_SMG-ZN1B-FF7iu-cuRKdAUZsc_CmoFJREO69hCDbh3iz-bIzRqwEJ_ohXdTFx1f-XyDEOJbuYmo-kmi1fzl6Puh6SJOR0WVcfCH62urpJa1LLwbOxKHNu8kGT4L1ieHM3c7sxgWzU0Xuh11z2Sc293IgShNhBfhe3A6sj3H2bjIsNwp4qjMcElI_kO8YQB-4Ut-.RfJXBCgwzzZWVpWsGe5hpw",
    "x": 320,
    "y": 100,
    "wires": [["4dde1f5063908ad7"]]
  },
  {
    "id": "ef11297358d08d4b",
    "type": "inject",
    "z": "896b927d96394e99",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 100,
    "wires": [["79c60d57b32548bf"]]
  },
  {
    "id": "1d87d861df51a0bb",
    "type": "fordconnect-get-vehicle-list",
    "z": "896b927d96394e99",
    "name": "",
    "x": 320,
    "y": 200,
    "wires": [["1650ab657331322e"], []]
  },
  {
    "id": "0519da85cf0194ae",
    "type": "inject",
    "z": "896b927d96394e99",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 200,
    "wires": [["1d87d861df51a0bb"]]
  },
  {
    "id": "1650ab657331322e",
    "type": "debug",
    "z": "896b927d96394e99",
    "name": "vehicle list",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 570,
    "y": 200,
    "wires": []
  }
]
